
.article-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px 0;
  width: 100%;
}

.article-card-left {
  max-width: calc(70% - 24px);
  overflow-wrap: break-word;
}

.article-card-title {
  font-size: 1.6rem;
  margin-bottom: 6px;
}

.article-card-date {
  font-size: 1.2rem;
  color: #888888;
}

.article-card-img {
  width: 30%;
  height: auto;
  border-radius: 9px;
}

.article-container {
  margin-bottom: 48px;
  padding: 24px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.article-section {
  padding: 12px 0;
}

.article-container > h1 {
  font-size: 1.8rem;
}

.article-date {
  color: #888;
}

.article-container > img {
  margin: 12px 0;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.article-section > h2 {
  font-size: 1.6rem;
}

.article-section > p, .article-section > ul, .article-section > ol, .article-link {
  font-size: 1.4rem;
}

.article-section > h2, .article-section > h3, .article-section > p, .article-section > ul, .article-section > ol, .article-link, .article-date {
  margin-bottom: 12px;
  line-height: 2.4rem;
}

.article-link {
  display:block;
  word-break: break-all;
  text-decoration: underline;
}

.article-user {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.article-user-icon {
  vertical-align: middle;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.article-user-name {
  margin-left: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

@media (min-width: 800px) {

  .article-container {
    margin: 48px auto 96px;
    max-width: 520px;
    border-radius: 12px;
  }

}