.league-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
}

.league-header.league-select-schedule {
  padding: 0;
  width: calc(100% - 144px);
  height: 32px;
}

.league-header > div {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.league-header > div {
  justify-content: unset;
}

.league-name {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.league-name.league-select-schedule {
  justify-content: center;
}

.league-icon {
  width: 2rem;
  height: auto;
  object-fit: cover;
}

.league-text {
  margin: 0 6px;
  max-width: calc(100% - 26px);
  font-size: 1.4rem;
  color: #fff;
}

.league-selecter {
  width: 1.4rem;
  height: auto;
}

@media (min-width: 800px) {

  .league-header {
      border-radius: 12px 12px 0 0;
  }

}