


.loader, .loader-index, .loader-tab-content, .loader-posts, .load-spinner, .loader-teamcards, .loader-schedule-index, .loader-schedule, .loader-matchcards {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.loader {
    margin-top: 24px;
}

.loader-posts, .load-spinner, .loader-matchcards {
    padding: 24px;
}

.loader-index {
    align-items: center;
    height: 100vh;
}

.loader-tab-content {
    padding: 24px 0 390px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-in-button {
    border: 4px solid #888888;
    border-top: 4px solid #f7f7f7;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
}

.loader-posts {
    flex-direction: column;
    align-items: center;
}

.load-spinner {
    height: 160px;
}

.loader-schedule-index, .loader-schedule {
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.loader-schedulecard {
    height: 49px;
    box-sizing: border-box;
}

.loader-schedule-matchday {
    margin-top: 12px;
}

.loader-teamcards {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    background-color: #fff;
}

.loader-teamcard {
    margin-bottom: 24px;
    width: calc(50% - 12px);
    height: 120px;
}

@media (min-width: 800px) {
    
    .loader-post-container, .loader-teamcards, .loader-schedule-index, .loader-schedule, .loader-tab-content {
        max-width: 520px;
        border-radius: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .loader {
        margin: 48px auto 92px;
        padding-top: 24px;
    }

    .loader-schedule-index {
        margin: 0;
        padding-top: 24px;
    }

    .loader-matchcards {
        max-width: 312px;
        height: fit-content;
        border-radius: 12px;
    }

}


