.register-wrapper {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 520px;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

.register-button {
  text-align: center;
  width: 80%;
  height: 44px;
  line-height: 44px;
  margin-top: 16px;
  background-color: #3465FF;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color;
}

.register-button:hover {
  background-color: #5D84FF;
}

.register-button-text {
  font-weight: 700;
  font-size: 1.4rem;
}

.register-text-link {
  color: #888888;
  filter: brightnes(1);
  transform: filter;
}

.register-text-link:hover {
  filter:brightness(1.1);
  text-decoration: underline;
}

@media (min-width: 800px) {
  
  .register-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 24px;
  }

  .register-container {
    border-radius: 12px;
    padding: 24px 0;
  }

  .register-button {
    max-width: 320px;
  }
  
}