.pickup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0;
  width: 100%;
}

.pickup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.pickup:hover {
  background-color: #EFF1F1;
  opacity: 1;
}

.pickup-top-content, .pickup-crest {
  display: flex;
  align-items: center;
}

.pickup-top, .pickup-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.pickup-middle {
  margin: 0 24px;
}

.pickup-middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pickup-icon {
  width: 1.6rem;
  height: auto;
  object-fit: cover;
  margin-right: 6px;
}

.pickup-text {
  text-align: center;
}

.pickup-crest {
  margin-bottom: 12px;
  width: 5rem;
  height: auto;
  object-fit: cover;
}

.pickup-score-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 2.8rem;
}

.pickup-status {
  padding: 3px 9px;
  font-size: 1rem;
  border: solid 2px #eeeeee;
  border-radius: 50px;
}

body.no-scroll-post {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {

  .pickup-score-text {
    font-size: 3.2rem;
  }

  .pickup-text {
    font-size: 1.4rem;
  }

  .pickup-status {
    font-size: 1.2rem;
  }

}