.match-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 264px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.match-card.last-match-card {
  margin-right: 48px;
}

.match-card:hover {
  background-color: #EFF1F1;
  opacity: 1;
}

.match-card-top-league, .match-card-crest {
  display: flex;
  align-items: center;
}

.match-card-top, .match-card-middle, .match-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-card-middle {
  padding: 18px 12px 12px;
}

.match-card-bottom {
  padding: 0 12px;
}

.match-card-icon {
  width: 1.6rem;
  height: auto;
  object-fit: cover;
  margin-right: 6px;
}

.match-card-crest {
  width: 5rem;
  height: auto;
}

.match-card-versus-icon {
  width: 2.6rem;
  height: auto;
}

.match-card-status {
  padding: 3px 9px;
  font-size: 1rem;
  border: solid 2px #eeeeee;
  border-radius: 50px;
}

.match-card-tla {
  text-align: center;
  width: 50px;
}

@media (min-width: 800px) {

  .match-card.last-match-card {
    margin-right: 0;
  }

  .match-card-score-text {
    font-size: 3.2rem;
  }

  .match-card-text, .match-card-tla {
    font-size: 1.2rem;
  }

  .match-card-status {
    font-size: 1rem;
  }

}