.matchcards-container {
  position: relative;
  margin: 6px;
  padding: 18px;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1);  
}

.matchcards-title {
  display: flex;
  align-items: center;
  height: 32px;
}

.matchcards-icon {
  margin-right: 6px;
  width: auto;
  height: 2rem;
}

.matchcards-title > h2 {
  font-size: 1.4rem;
}

.matchcards-wrapper {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  margin: 24px 0;
  width: 100%;
}

.matchcards-wrapper.national-matchcards-wrapper {
  width: calc(100% + 24px);
  margin: 0;
}

.matchcards-wrapper::-webkit-scrollbar {
  display: none;
}

.matchcards {
  display: flex;
  width: 100%;
  gap: 24px;
  padding: 0 48px;
  box-sizing: border-box;
}

.matchcards.national-matchcards {
  padding: 12px;
}

@media (min-width: 800px) {

  .matchcards-container {
    max-width: 312px;
    padding: 12px;
    margin: 0;
    height: fit-content;
    background-color: #fff;
  }

  .matchcards-title {
    padding: 12px 12px 0;
  }

  .matchcards-wrapper {
    margin-top: 48px;
  }

  .matchcards-wrapper.national-matchcards-wrapper {
    width: 100%;
  }

  .matchcards {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .matchcards.national-matchcards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}