.match-card, .match-card-header, .match-card-content, .match-card-scoreboard, .match-card-result {
  display: flex;
  align-items: center;
}

.match-card, .match-card-content {
  flex-direction: column;
}

.match-card {
  width: 264px;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);

}

.match-card.last-match-card {
  margin-right: 48px;
}

.match-card-content:hover {
  background-color: #EFF1F1;
  opacity: 1;
}

.match-card-header {
  justify-content: center;
  padding: 8px 12px;
  border-radius: 12px 12px 0 0;
  box-sizing: border-box;
}

.match-card-header, .match-card-content {
  width: 100%;
  background-color: #fff;
}

.match-card-content {
  justify-content: space-between;
  padding: 16px 0;
  border-radius: 0 0 12px 12px;
}

.match-card-scoreboard {
  position: relative;
  justify-content: space-between;
  margin: 12px 0;
  width: 100%;
  box-sizing: border-box;
}

.match-card-crest-home, .match-card-crest-away {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
}

.match-card-crest-home {
  left: 12px;
}

.match-card-crest-away {
  right: 12px;
}

.match-card-team-home, .match-card-team-away {
  text-align: center;
  width: calc(50% - 52px);
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 6px;
  box-sizing: border-box;
}

.match-card-team-home {
  margin-left: 36px;
  padding-left: 18px;
}

.match-card-team-away {
  margin-right: 36px;
  padding-right: 18px;
}

.match-card-tla {
  text-align: center;
  width: 50px;
}

.match-card-icon {
  width: 1.6rem;
  height: auto;
  margin-right: 6px;
}

.match-card-versus-icon {
  width: 16px;
  height: 16px;
}

.match-card-text, .match-card-text-header, .match-card-status {
  font-weight: 700;
  font-size: 1rem;
}

.match-card-text-header {
  color: #fff;
}

.match-card-text, .match-card-status {
  color: #888888;
}

.match-card-status {
  padding: 3px 6px;
  border: solid 2px #eeeeee;
  border-radius: 50px;
}

@media (min-width: 800px) {

  .match-card.last-match-card {
    margin-right: 0;
  }

  .match-card-text, .match-card-text-header, .match-card-status {
    font-weight: 900;
    font-size: 1rem;
  }

}