@keyframes slideInUp {
  from {
    transform: translate(-50%, 100%);
  }
  to {
  transform: translate(-50%, 0);
  }
}
  
.post-modal {
  animation: slideInUp 0.2s ease-out;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 9998;
}

.post-modal-form {
  height: 100%;
}

.post-modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  left: 24px;
  height: 44px;
  cursor: pointer;
}

.post-modal-close-icon {
  height: 20px;
  width: auto;
}

.post-modal-title {
  margin-left: 44px;
  height: 44px;
  line-height: 44px;
}

.post-modal-submit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  margin: 0;
  cursor: pointer;
}

.post-modal-selecter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.2rem 0;
}

.post-modal-selecter-type {
  display: flex;
  margin-bottom: 1.2rem;
}

.post-modal-motm {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 56px;
  background-color: #f7f7f7;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.post-modal-selecter-default {
  display: flex;
  align-items: center;
}

.post-modal-watchtype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  padding: 0 1.2rem;
  width: auto;
  height: 56px;
  background-color: white;
  border-radius: 6px;
  border: solid 2px #eeeeee;
  box-sizing: border-box;
  cursor: pointer;
}

.post-modal-watchtype.watchtype-selected {
  background-color: #484848;
  border: solid 2px #484848;
}

.post-modal-icon {
  height: auto;
  width: 22px;
  margin-bottom: 6px;
}

.post-modal-watchtype-text {
  font-weight: 700;
  font-size: 1rem;
  color: #888888;
}

.post-modal-watchtype-text.watchtype-selected {
  color: #fff;
}

.post-modal-textarea {
  padding: 0;
  flex-grow: 1;
  overflow: auto;
  border: none;
  border-radius: 0;
}

.post-modal-textarea:focus {
  outline: none;
}

.post-modal-char-counter {
  margin-top: 24px;
  text-align: end;
  color: #888;
}

@media (min-width: 800px) {
  
  .floating-button-container {
    max-width: 520px;
  }
  
  .floating-button-review-pc {
    display: inline-block;
  }
    
  .floating-button-review {
    display: none;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .post-modal {
    animation: fadeIn 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 24px;
    max-width: 520px;
    height: auto;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .post-modal-textarea {
    min-height: 480px;
  }
}
  