.nocontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 298px;
}

.nocontent-icon {
  margin: 36px 0 12px;
  width: auto;
  height: 144px;
}

.nocontent-text{
  font-size: 1.4rem;
  color: #888;
}
