.player {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 6px 12px;
  box-sizing: border-box;
}

.player-block {
  display: flex;
  align-items: center;
}

.player-count {
  text-align: center;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  background-color: #eeeeee;
  border-radius: 50px;
}

.player-crest {
  margin: 0 12px;
  width: auto;
  height: 2rem;
  object-fit: cover;
}

.player-name {
  font-size: 1.4rem;
}

@media (min-width: 800px) {

  .player {
    padding: 6px 18px;
  }
}

