.post {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.post.post-border {
  padding-bottom: 24px;
  border-bottom: solid 1px #eeeeee;
  border-radius: 0;
}

.post-no-hover:hover {
  background-color: initial;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6px;
}

.post-header-left {
  display: flex;
  align-items: center;
}

.post-header-right {
  position: relative;
}

.ellipsis-icon-block, .copy-link-post {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 3.2rem;
}

.ellipsis-icon {
  width: auto;
  height: 1.6rem;
  cursor: pointer;
}

.ellipsis-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  padding: 0 14px;
  height: 3.2rem;
  background-color: #f7f7f7;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1);  
  transition: right 0.5s ease-in-out;
}

.ellipsis-menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #f7f7f7;
}

.ellipsis-menu-icon {
  width: auto;
  height: 1.6rem;
  cursor: pointer;
}

.copy-success-message {
  position: absolute;
  justify-content: flex-end;
  top: 38px;
  right: -4px;
  width: 100%;
  color: #888888;
  font-size: 1rem;
  z-index: 2;
}

.post-header-user {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.post-header-block {
  display: flex;
  align-items: center;
}

.post-user-icon {
  width: 3.8rem;
  height: 3.8rem;
}

.post-user-icon > img {
  width: 3.8rem;
  height: 3.8rem;
  object-fit: cover;
  border-radius: 50%;
}

.post-user-name {
  max-width: 12.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;  
  cursor: pointer;
}

.post-user-support {
  display: flex;
  align-items: center;
}

.post-user-crest, .post-match-icon, .post-match-icon-motm {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: cover;
}

.post-user-crest {
  margin-left: 6px;
}

.post-created {
  color: #888;
  font-size: 1rem;
}

.post-tag {
  display: flex;
  flex-direction: column;
}

.post-tag.post-tag-margin {
  margin-bottom: 6px;
}

.post-tag-match, .post-tag-motm {
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  height: 24px;
  box-sizing: border-box;
}

.post-tag-match {
  padding: 0 8px;
  background-color: #fff;
  border: solid 2px #eeeeee;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
}

.post-match-text, .post-match-status, .post-match-tla, .post-match-matchday {
  display: flex;
  align-items: center;
  color: #3465FF;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 24px;
}

.post-match-status {
  margin: 0 6px;
}

.post-match-matchday {
  margin-left: 6px;
}

.post-match-icon-motm {
  margin-right: 6px;
}

.post-match-text-motm {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
}

.post-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-text {
  display: flex;
  align-items:flex-start;
  white-space: pre-wrap;
  line-height: 20px;
  font-size: 1.4rem;
}

.post.post-expand {
  padding-bottom: 50px;
}

.fade-out {
  position: absolute;
  display: none;
  bottom: -12px;
  left: -12px;
  width: calc(100% + 24px);
  height: calc(34px + 12px);
  background: linear-gradient(to bottom, transparent 0px, #fff 34px, #fff 48px);
  border-radius: 0 0 12px 12px;
  box-sizing: border-box;
}

.fade-out.show {
  display: block;
}

.read-more {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 96px;
  height: 32px;
  background-color: #242424;
  border-radius: 50px;
  border: none;
}

.read-more:hover {
  background-color: #484848;
}

.read-more-text {
  margin-right: 0.5rem;
  line-height: 32px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.read-more-icon {
  width: auto;
  height: 1.2rem;
}

.read-more.below {
  bottom: -38px;
}

.post-user-name {
  transition: text-decoration;
}

.post-user-name:hover {
  text-decoration: underline;
}

.post-user-icon:hover, .post-user-crest:hover, .post-tag-match:hover, .ellipsis-icon:hover, .ellipsis-menu-icon:hover {
  opacity: 0.8;
}

.ellipsis-menu-block, .copy-link-post {
  transition: background-color;
}

.ellipsis-menu-block:hover, .copy-link-post:hover {
  background-color: #EFF1F1;
}

.post.no-hover:hover {
  background-color: #fff;
}

.post-highlight {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #f7f7f7;
}

.post-highlight.highlight-expand {
  margin-top: 44px;
}

.post-highlight-icon {
  width: 1.4rem;
  height: auto;
  margin-right: 6px;
}

.post-highlight-text {
  color: #888;
  font-weight: 700;
  font-size: 1rem;
}

@media (min-width: 800px) {

  .post {
    padding: 24px;
  }  

  .post.post-border {
    margin-top: 0;
    padding: 24px 18px;
  }  

  .post-user-name {
    max-width: 22.4rem;
  }

  .post.post-expand {
    padding-bottom: 62px;
  }

}