.schedule-container {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}

.schedule-container.hidden {
    display: none;
}

.schedule-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.schedule-league {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.schedule-league-text-sub {
    display: flex;
    align-items: center;
    color: #fff;
}

.schedule-title {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    font-size: 1.4rem;
    background-color: #ECF0FF;
}

.schedule-cards {
    min-height: 490px;
}

@media (min-width: 800px) {
    
    .schedule-wrapper {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin: 48px auto 96px;
        max-width: 1080px;
    }

    .schedule-container {
        width: calc(100% - 384px);
        max-width: 520px;
        border-radius: 12px;
    }

    .schedule-header {
        border-radius: 12px 12px 0 0;
    }
  
  }