.schedule {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-bottom: solid 1px #eeeeee;
    background-color: #fff;
    box-sizing: border-box;
}

.schedule.first-schedule-card {
    border-radius: 6px 6px 0 0;
}

.schedule.last-schedule-card {
    border-radius: 0 0 6px 6px;
}
  
.schedule:hover {
    background-color: #EFF1F1;
}

.schedule-block {
    display: flex;
    justify-content: space-between;
}
  
.schedule-left, .schedule-right {
    position: relative;
    display: flex;
    align-items: center;
}
  
.schedule-crest {
    width: 2.4rem;
    height: auto;
    object-fit: cover;
}

.schedule-tmp-crest {
    position: relative;
    width: 24px;
    height: 24px;
}

.schedule-tla{
    position: absolute;
    text-align: center;
    top: 4px;
    left: -6px;
    width: 36px;
    line-height: 16px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-shadow:0.5px 0.5px 0 #242424, -0.5px -0.5px 0 #242424,
                -0.5px 0.5px 0 #242424, 0.5px -0.5px 0 #242424,
                0px 0.5px 0 #242424,  0 -0.5px 0 #242424,
                -0.5px 0 0 #242424, 0.5px 0 0 #242424;
}

.schedule-text, .schedule-text.schedule-timed {
    text-align: center;
    margin: 0 12px;
    width: 44px;
    line-height: 24px;
    font-size: 1.6rem;
    font-weight: 700;
}
  
.schedule-text.schedule-timed {
    color:#888888
}

.schedule-text.schedule-invisible {
    font-size: 1.4rem;
}

@keyframes blink {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 1; }
}

.schedule-inplay {
    color: #3465FF;
    animation: blink 2s infinite;
}

.schedule-date, .schedule-record-count {
    font-size: 1rem;
}
  
.schedule-record {
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding-left: 12px;
    border-left: solid 1px #eeeeee;
}

.schedule-record-block {
    display: flex;
    align-items: center;
}
  
.schedule-icon {
    width: auto;
    height: 15px;
}

.schedule-record-count {
    text-align: center;
    width: 24px;
}

@media (max-width: 799px) {
    
    .schedule-text.schedule-narrow {
        margin: 0 6px;
    }

    .schedule-record.schedule-narrow {
        margin-left: 6px;
        padding-left: 6px;
    }
  
}

@media (min-width: 800px) {

    .schedule {
        padding: 12px 18px;
    }

}