.tab-container {
  width: 100%;
  margin-bottom: 48px;
  padding: 0 6px;
  box-sizing: border-box;
}

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 24px ;
}

.tab-header {
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  margin-bottom: 24px;
}

.tab-header-left {
  display: flex;
  align-items: center;
  justify-content:center;
}

.tab-header-icon, .tab-header-user-icon {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  margin-right: 1rem;
}

.tab-header-user-icon {
  border-radius: 50%;
}

.tab-header-name, .tab-header-name-team {
  display: inline-flexbox;
  margin-right: 6px;
  font-size: 1.6rem;
  font-weight: 900;
  color: #fff;
}

.tab-header-name {
  max-width: 168px;

}

.activity-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.activity-tab.match-detail {
  padding: 24px;
  border-bottom: solid 1px #eeeeee;
}

.activity-tab-column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 12px);
  height: 24px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: border-color;
}

.activity-tab-column.match-detail {
  width: calc(50% - 12px);
  height: 21px;
}
  
.activity-tab-column.match-detail.active:after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: -24px;
  margin: auto;
  width: 48px;
  height: 6px;
  background: #3465FF;
  border: none;
  border-radius: 50px 50px 0 0 ;
}

.activity-tab-column.active:after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: -24px;
  margin: auto;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.activity-tab-column > span {
  color: #fff;
}

.activity-tab-column.match-detail > span {
  color: #000;
}
  
.activity-tab-column.active > span {
  font-weight: 900;
}
  
.activity-tab-count {
  padding: 3rem 6rem;
  background-color: #eeeeee;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  border-radius: 6px;
  border: none;
}
  
.activity-container {
  width: 100%;
  min-height: 430px;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

.activity-container.match-post-list {
  margin: 24px auto 144px;
  width: calc(100% - 24px);
}

.activity-title {
  padding: 24px 12px 12px;
}

.activity-content {
  display: flex;
  flex-direction: column;
}

.activity-content.add-padding {
  padding: 12px;
}

.tab-profile-item {
  display: flex;
  align-items:flex-start;
  justify-content:left;
  margin-bottom: 18px;
}

.tab-profile-column {
  min-width: 84px;
  margin-right: 1rem;
  color: #888888;
  font-size: 1.2rem;
}

.tab-profile-link {
  color: #3465FF;
}

.tab-profile-pre {
  display: flex;
  align-items:flex-start;
  white-space: pre-wrap;
}

.tab-sns-link {
  display: flex;
  justify-content:end;
  margin: 1rem 0 2rem;    
}

.tab-sns-icon {
  width: 2rem;
  height: auto;
  object-fit: cover;
}

.tab-sns-icon:hover, .team-tablinks:hover {
  opacity: 0.8;
}

.tab-profile-link:hover {
  text-decoration:underline;
}

@media (min-width: 800px) { 
    
  .tab-container, .activity-container.match-post-list {
    max-width: 520px;
    margin: 48px auto;
    padding: 0;
    border: none;
  }

  .activity-content.padding {
    padding: 24px 18px;
  }
  
  .activity-title {
    padding: 24px 18px 18px;
  }

}
  