.activity-container {
  width: 100%;
  margin-bottom: 2.4rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
}

.activity-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  border-bottom: solid 1px #eeeeee;
  box-sizing: border-box;
}

.activity-tab-column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 2.4rem;
  line-height: 2.4rem;
  cursor: pointer;
  transition: border-color;
}

.activity-tab-column.match-detail {
  width: calc(50% - 12px);
}
  
.activity-tab-column.active:after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: -1.2rem;
  margin: auto;
  width: 48px;
  height: 6px;
  background: #3465FF;
  border: none;
  border-radius: 50px 50px 0 0 ;
}

.activity-tab-column > span {
  color: #888888;
  font-weight: 900;
}

.activity-tab-column.match-detail > span {
  color: #000;
  opacity: 0.5;
}
  
.activity-tab-column.active > span {
  color: #000;
}
  
.activity-tab-count {
  padding: 3rem 6rem;
  background-color: #eeeeee;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  border-radius: 6px;
  border: none;
}
  
.activity-content {
  width: 100%;
  min-height: 430px;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  box-sizing: border-box;
}

.activity-container.match-post-list {
  margin: 24px auto 144px;
  width: calc(100% - 24px);
}

.activity-title {
  padding: 1.2rem;
}

.activity-content {
  display: flex;
  flex-direction: column;
}

.activity-content.add-padding {
  padding: 12px;
}

@media (min-width: 800px) { 
    
  .activity-container, .activity-container.match-post-list {
    max-width: 520px;
    margin: 48px auto;
    padding: 0;
    border: none;
  }

  .activity-tab {
    padding: 1.8rem 0;
  }

  .activity-tab-column.active:after {
    bottom: -1.8rem;
  }

  .tab-content {
    padding: 18px 18px 24px ;
  }

  .tab-label {
    font-size: 1.2rem;
  }
  
  .activity-content.padding {
    padding: 24px 18px;
  }
  
  .activity-title {
    padding: 24px 18px 18px;
  }

}
  