.team-profile-detail {
  margin-bottom: 24px;
  padding: 24px 24px 6rem 24px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
}

.team-profile-item {
  display: flex;
  align-items:flex-start;
  justify-content:left;
  margin-bottom: 16px;
}

.team-profile-item-column {
  min-width: 100px;
  margin-right: 12px;
  color: #888888;
  font-size: 1.2rem;
}

.team-profile-text-team {
  color: #3465FF;
}

.team-profile-text-pre {
  display: flex;
  align-items:flex-start;
  white-space: pre-wrap;
}

.team-sns {
  display: flex;
  justify-content:end;
  margin-bottom: 24px;    
}

.team-sns-icon {
  width: 2rem;
  height: auto;
  object-fit: cover;
}

.team-support-crest, .team-edit-icon, .team-sns, .team-tablinks {
  transition: opacity;
}

.team-support-crest:hover, .team-edit-icon:hover, .team-sns:hover, .team-tablinks:hover {
  opacity: 0.8;
}

.team-profile-text-team {
  transition: text-decoration;
}

.team-profile-text-team:hover {
  text-decoration:underline;
}

@media (min-width: 800px) {

  .team-container {
    max-width: 520px;
    margin: 52px auto;
    border: none;
  }

  .team-profile {
    border-radius: 12px 12px 0 0;
  }

  .team-activity {
    border-radius: 0 0 12px 12px;
  }
}
