.team-list-container {
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 800px) {

  .team-list-container {
    max-width: 520px;
    margin: 48px auto 96px;
    padding: 0;
    border-radius: 12px;
  }

}
