.team-list-container {
  width: 100%;
  box-sizing: border-box;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.team-list-league {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 100%;
  background-color: #38003c;
  box-sizing: border-box;
}

@media (min-width: 800px) {

  .team-list-container {
    max-width: 520px;
    margin: 48px auto 96px;
    border-radius: 12px;
  }

  .team-cards {
    background-color: #fff;
  }

  .team-list-league {
      border-radius: 12px 12px 0 0;
  }

}
