.user-profile-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-profile-main {
  display: flex;
  align-items:center;
  margin-bottom: 6px;
}

.user-support-crest {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.user-profile-text-sub {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fff;
}

.user-edit-icon {
  padding: 4px;
  width: 1.6rem;
  height: auto;
  background-color: #fff;
  border-radius: 50px;
  object-fit: cover;
}

.user-support-crest:hover, .user-edit-icon:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {

  .user-profile {
    border-radius: 12px 12px 0 0;
  }

  .user-activity {
    border-radius: 0 0 12px 12px;
  }
}
