.user-edit-icon {
  padding: 4px;
  width: 1.6rem;
  height: auto;
  background-color: #fff;
  border-radius: 50px;
  object-fit: cover;
}

.user-description-wrapper {
  position: relative;
}

.user-description {
  display: flex;
  align-items:flex-start;
  white-space: pre-wrap;
  color: #fff;
  font-size: 1.2rem;
  line-height: 20px;
}

.user-description-accordion {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 24px;
  height: 20px;
  line-height: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.user-support-crest:hover, .user-edit-icon:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {

  .user-profile {
    border-radius: 12px 12px 0 0;
  }

  .user-activity {
    border-radius: 0 0 12px 12px;
  }
}
