.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 48px;
  max-width: 520px;
  padding: 48px 24px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.login-tab {
  display: flex;
  align-items: center;
  width: 100%;
}

.login-tablinks {
  width: 50%;
  height: 44px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #f7f7f7;
  color: #242424;
  border: none;
  cursor: pointer;
  transition: background-color;
}

.login-tablinks:hover {
  background-color: #EFF1F1;
}

.login-tablinks:first-child {
  border-radius: 6px 0 0 6px;
}

.login-tablinks:last-child {
  border-radius: 0 6px 6px 0;
}

.login-tablinks.active {
  background-color: #242424;
  color: white;
  border-radius: 6px 0 0 6px;
}

.login-tablinks.active:last-child {
  border-radius: 0 6px 6px 0;
}

.login-form-container {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 800px) {
  
  .login-container {
      border-radius: 12px;
      border: none;
  }

  .login-tablinks.active:hover {
    background-color: #484848;
  }
  
}